.App {
  font-family: "Myriad Pro", sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth;
}

.homepage-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
}

.overflow-body {
  overflow: hidden;
}

.heading-title {
  color: rgba(255, 255, 255, 0.84);
}

.custom-z {
  z-index: 999 !important;
}

.bg-z {
  z-index: 0 !important;
}

/* navbar */

header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: transparent;
  /* animation magic */
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  z-index: 9999;
  top: 0;
  position: fixed;
}

.shrink {
  padding-top: 14px;
  padding-bottom: 14px;
  /* background: linear-gradient(107.47deg, #000000 -16.01%, #1e0000 101.78%); */
  background-color: #000000;
}

.btn-test {
  position: relative;
  padding: 8px 15px 8px 15px;
  color: #f2f2f2;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.btn-test:before,
.btn-test:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn-test:hover {
  color: black;
  transition-delay: 0.5s;
}

.btn-test:hover:before {
  transition-delay: 0s;
}

.btn-test:hover:after {
  background: #00ffb0;
  transition-delay: 0.35s;
}

/* From Bottom */

.from-bottom:before,
.from-bottom:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-bottom:before {
  top: 0;
  border: 1px solid #00ffb0;
  border-top: 0;
  border-bottom: 0;
}

.from-bottom:after {
  top: 0;
  height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
  height: 100%;
}

/* hero section */

.hero-bg {
  background-image: url("../src/assets/images/hero-bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.sticky-custom {
  position: -webkit-fixed;
  position: fixed;
  z-index: 1000;
}

.hero-title-animation {
  animation: slideFromLeft 5s ease-in-out 1;
  z-index: 100;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(200px);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

.hero-subtitle-animation {
  animation: slideFromRight 5s ease-in-out 1;
  z-index: 100;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
  }
  50% {
    transform: translateX(-200px);
  }
  75% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

/* video section */

.bg-wrapper {
  background: rgba(0, 0, 0, 0.07);
  border: 1px solid #530000;
  backdrop-filter: blur(17px);
  border-radius: 20px;
}

.play-button-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* services  */

.sidebar-heading {
  color: #f2f2f2;
}

/* 
.sidebar-heading:hover {
  color: #00ffb0;
}

.sidebar-heading:focus {
  color: #00ffb0;
} */

/* portfolio section */

.image-container {
  position: relative;
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: rgb(0, 255, 176, 0.8); */
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #f2f2f2;
  cursor: pointer;
}

.image-container:hover .overlay {
  opacity: 1;
}

.project-name {
  color: #f2f2f2;
  text-align: center;
}

/* contact */

.custom-input {
  border: none;
  background-color: #000000;
  border-bottom: 1px solid #f2f2f2;
  padding: 3px;
}

/* Default checkbox styles */
input[type="checkbox"] {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Create a square checkbox */
  width: 16px;
  height: 16px;
  border: 2px solid #232b2b;
  background-color: #232b2b;
  position: relative;
}

input[type="checkbox"]:checked {
  /* Change the background color */
  background-color: white;
  border: 2px solid #232b2b;
}

/* Custom checkmark */
input[type="checkbox"]:checked::before {
  content: "\2713"; /* Unicode character for checkmark */
  font-size: 14px;
  color: black; /* Color of the checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */

.footer-box {
  position: relative;
  border-radius: 21px;
  height: 68px;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 0, 0, 0.21);
  border: 0.631353px solid #c80000;
  backdrop-filter: blur(3.84731px);
}

.footer-box > svg {
  z-index: 2;
  position: relative;
}

.footer-box::after {
  position: absolute;
  content: "";
  opacity: 0.21;
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: rgba(128, 0, 0, 0.21);
  border: 0.631353px solid #c80000;
  backdrop-filter: blur(3.84731px);
}

.footer-box:hover {
  background: rgba(200, 0, 0, 0.21);
}

@media only screen and (max-width: 767px) and (min-width: 0px) {
  .footer-box {
    border-radius: 18px;
    height: 58px;
    width: 58px;
  }
}

.custom-hover {
  color: #f2f2f2;
}

.custom-hover:hover {
  cursor: pointer;
  color: #00ffb0;
}

.animated {
  background-image: linear-gradient(to right, #27ccc0 0, #27ccc0 100%);
  background-size: 100% 28%;
  background-position: left 90%;
  background-repeat: no-repeat;
  font-style: normal;
}

.active {
  color: #00ffb0;
  transition: all ease 0.2s;
}
